body {
  padding-left:  1rem;
  text-align: center;
  background-color: #488d4c;
}

header {
  text-align: center;
  color: rgb(35, 93, 38);
  font: double;
  font-size: 2rem;
}

button {
  background-color: #569e5a;
  padding: 0.675em 1em 0.675em 1em;
  border: 1px solid rgb(42, 113, 45);
  border-radius: 0.5rem;
  width: auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: rgb(42, 113, 45);
}

option {
  background-color: rgb(42, 113, 45);
}

select {
  background-color: #569e5a;
  text-align: center;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  border: 1px solid rgb(42, 113, 45);
  border-radius: 0.5rem;
  cursor: pointer;
}

.cityLabel {
  font-size:  1.2rem;
  margin-bottom:  0.5rem;
}

.date-button {
  padding:  12px  24px;
  margin-right:  10px;
  font-size:  16px;
}

.date-button.selected-button {
  transition: none;
  background-color: rgb(62, 138, 64);
}

.forecast-table {
  border-spacing:  10px;
  width:  100%;
}

.forecast-table td {
  border-bottom:  1px solid rgb(23, 74, 25);
  border-right: 1px solid rgb(23, 74, 25);
  border-top: 1px solid rgb(23, 74, 25);
  border-left: 1px solid rgb(23, 74, 25);
}

.forecast-table td {
  padding:  10px;
}